@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-shadow: 0 0 2px;
    transition: all 0.15s;
}
body{
    background-color: transparent;
}
*:hover{
    transition: all 0.15s;
}

#app-mount{
    border-radius: 12px;
    border: black 2px solid;
}

.scrollerBase_dc3aa9, .customTheme_db4d28, .auto_a48086, .container_b2ce9c, .header__104ca, .searchBar_e4ea2a, .theme-dark .themed_b152d4, .theme-dark .container_ca50b9, .theme-dark .children__32014::after, .expandedFolderBackground__1bec6, .expandedFolderIconWrapper__458cf, .theme-dark .scroller__4b984, .container__4f20e, .jumpToPresentBar__0ff7f, .accountProfileCard__22589, .fieldList_aab0de, .background_b61fcc, .userProfileInnerThemedNonPremium__3d0a6, .contentWrapper__321ed, .wrapper__7a35f, .unicodeShortcut__1dd6b, .inspector__17331, .inspector__993e1, .standardStickerShortcut__5254d, .container_d667ff, .navButtons__484bf, .footer__030ec, .header__6d5ea, .footer__89240, .newMosaicStyle__8d3be .codeView__8b1ff, .peopleColumn__51df3, .previewMessage__1075c{
    background: rgba(0, 0, 0, 0.711);
}

.scroller__3d071{
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.711) 35%, rgba(128, 0, 128, 0.711), rgba(76, 0, 130, 0.711));
}
.platform-win .bg__12180{
    background: linear-gradient(45deg, rgba(76, 0, 130, 0.711) 33%, rgba(128, 0, 128, 0.711), rgba(0, 0, 255, 0.711));
}

.form__13a2c{
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.711);
}

.themedBackground__6b1b6{
    background: rgb(21, 21, 26);
    border: 2px solid rgba(36, 36, 36, 0.75);
}

.button__66e8c.buttonColor_a6eb73, .lookFilled__19298.colorPrimary__6ed40, .container__73245, .markup_a7e664 code, .grid_c7c4e6, .textContainer__709ff pre, .footer__06f4b, .textContainer__709ff, .wrapper_efe67f, .description__883d4, .theme-dark .invalidPoop__03aa3, .wrapper__6e669, .section_efc22d, .vc-addon-card, .lookFilled__3dba3.select__0eb48, .inner__999f6, .searchBar_e0c60b, .radioBar__40e1b, .radioPositionLeft__1d40a{
    background-color: rgb(21, 21, 26);
}

.closedFolderIconWrapper__7321f{
    opacity: 0.711;
}

.message__80c10{
    border: 2px solid rgb(21, 21, 26);
    margin-bottom: 5px;
    border-radius: 5px;
}

.mentioned__58017{
    background: rgba(255, 68, 0, 0.2);
}

.lookFilled__19298.colorBrand_b2253e{
    background-color: var(--default-color);
    transition: opacity 0.15s;
}
.lookFilled__19298.colorBrand_b2253e:hover{
    background-color: var(--default-color);
    opacity: 0.9;
}
.lookFilled__19298.colorBrand_b2253e:active{
    background-color: var(--default-color);
    opacity: 0.7;
}
